body {
  padding-top: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  width: 100vw;
  background: #141e30;
  background: linear-gradient(to bottom, #243b55, #141e30);
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  touch-action: manipulation; /* disable double-tap zoom */
  overscroll-behavior-y: contain;
}

html,
body {
  height: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}
[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #141e30;
  background: linear-gradient(to bottom, #243b55, #141e30);
}

.color-0 {
  background: #ee2b29;
  fill: #ee2b29;
}
.color-1 {
  background: #ff9800;
  fill: #ff9800;
}
.color-2 {
  background: #ffff00;
  fill: #ffff00;
}
.color-3 {
  background: #c6ff00;
  fill: #c6ff00;
}
.color-4 {
  background: #00e5ff;
  fill: #00e5ff;
}
.color-5 {
  background: #2979ff;
  fill: #2979ff;
}
.color-6 {
  background: #651fff;
  fill: #651fff;
}
.color-7 {
  background: #d500f9;
  fill: #d500f9;
}
.color-disabled {
  background: #d3d3d3;
  fill: #1c2c42;
}

/* AI Color */
.color-8 {
  background: #4caf50;
  fill: #4caf50;
}

canvas {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
}

#svg rect {
  transition: all 0.2s linear;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
}

.splash a:link,
a:visited {
  color: #cdf352;
}
.splash-main b {
  background: #cdf352;
  color: black;
  padding: 0 4px;
}

.controls {
  display: flex;
  position: absolute;
  /* center hack */
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  height: 100px;
  z-index: 2;
}

.controls button {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  transition: transform 0.2s linear;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  line-height: 1;
}

.controls button[active] {
  transform: scale(0.9, 0.9);
}

.controls button.settings {
  position: relative;
  background: transparent;
  fill: white;
  cursor: pointer;
}

.controls button.settings:hover {
  fill: #cdf352;
}

.controls button span {
  pointer-events: none;
}

.rotate-phone {
  display: none;
}
.phone-icon {
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  fill: white;
  animation: rotate 4s infinite ease-in-out;
}

@keyframes rotate {
  0%,
  10% {
    transform: rotate(0deg);
  }
  40%,
  60% {
    transform: rotate(-90deg);
  }
  95%,
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 700px) {
  .controls {
    height: 70px;
    width: 100vw;
  }

  canvas {
    top: 70px;
  }
}

@media screen and (max-width: 500px) {
  /*   .splash {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    } */
  .dialog {
      width: 90%;
      max-width: none;
    }
  .rotate-phone {
    display: block;
  }
  .info-text {
    font-size: 18px; /* Adjusted font size for smaller screens */
  }

  .hint-playing {
    font-size: 12px; /* Adjusted font size for smaller screens */
  }
}


button.splash-button {
  cursor: pointer;
  margin: 40px auto;
  padding: 14px;
  font-family: inherit;
  font-size: 22px;
  display: block;
  border: 2px solid #cdf352;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #cdf352;
  text-align: center;
  transition: background-color 0.2s linear;
  width: 200px;
}

button.splash-button:hover {
  background-color: #cdf352;
  color: black;
}

button.splash-button.small {
  padding: 8px;
  font-size: 16px;
}

.splash-button.loading span {
  animation: pulsing-fade 1.2s ease-in-out infinite;
}
@keyframes pulsing-fade {
  50% {
    opacity: 0.3;
  }
}


/***********************
   * Radio buttons
   ***********************/
.control-indicator {
  border: solid #cdf352 2px;
  color: #cdf352;
  border-radius: 2px;
}
label.radio {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
label.radio > input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label.radio > input:checked ~ .control-indicator {
  background-color: #cdf352;
}
label.radio > .control-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#inputNumButtons {
  vertical-align: middle;
}

#info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.info-text {
  font-size: 36px;
  color: #fff;
  background-color: #1c2c42;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  margin-bottom: 16px; /* Adjusted margin for better spacing */
  line-height: 1.5;
}

.btn-green,
.btn-red {
  cursor: pointer;
  padding: 12px 24px; /* Adjusted padding for better appearance */
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.btn-green {
  background-color: #4caf50;
  color: white;
  margin-right: 8px; /* Added margin between buttons */
}

.btn-red {
  background-color: #ee2b29;
  color: white;
}

.btn-blue {
  cursor: pointer;
  padding: 12px 24px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3; 
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.btn-green:hover,
.btn-red:hover,
.btn-blue:hover {
  background-color: #1c2c42;
  color: #cdf352;
}
.hint-playing {
  display: block;
  font-size: 14px;
  color: #808080;
  margin-top: 8px; /* Adjusted margin for better spacing */
}

.hint-playing span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #cdf352;
  margin-top: 8px; /* Adjusted margin for better spacing */
}
.btn-disabled {
  background-color: #808080; /* Grey background */
  color: #555; /* Dark grey text color */
  cursor: not-allowed; /* Change cursor to indicate not clickable */
  opacity: 0.7; /* Reduced opacity to indicate disabled state */
  box-shadow: none; /* Remove box shadow */
}

.btn-disabled:hover {
  background-color: #808080; /* Grey background on hover */
  color: #555; /* Dark grey text color on hover */
}
.label {
  margin-bottom: 3;
}
.hint {
  color: #808080;
}



.dialog button.splash-button.small {
  padding: 8px 16px; /* Adjusted padding for better appearance */
}

.dialog button.splash-button.small span {
  animation: none; /* Removed pulsing-fade animation */
}

.dialog button.splash-button.loading span {
  animation: none; /* Removed pulsing-fade animation */
}
.dialog {
  font-weight: 100;
  background: #1c2c42;
  color: white;
  padding: 24px;
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  border: 2px solid #cdf352;
  box-shadow: 8px 8px 0 #cdf352;
  text-align: left;
}

.dialog select,
.dialog input[type="number"] {
  color: white;
  font-family: inherit;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #cdf352;
  background: transparent;
  box-shadow: none;
  margin-bottom: 16px;
  width: 100%;
  height: 25px;
  padding: 4px;
}

.dialog button.splash-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

.dialog h2 {
  color: #cdf352;
  font-size: 24px;
  margin-bottom: 16px;
}

.dialog p {
  margin-bottom: 16px;
}

.dialog label.radio {
  margin-right: 16px;
}

.dialog button.splash-button.small {
  width: auto;
  margin-right: 8px;
}

.dialog button.splash-button.small:last-child {
  margin-right: 0;
}

.dialog button.splash-button.small:hover {
  background-color: #cdf352;
  color: black;
}



















































.splash {
  font-size: 18px;
  padding: 20px;
  line-height: 1.6;
  width: 80%;
  max-width: 600px;
  margin: auto;
  text-align: left;
  border: 2px solid #cdf352;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.splash h1 {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  color: #cdf352;
  margin-bottom: 20px;
}

.splash p {
  margin-bottom: 16px;
}

.splash .text-center {
  text-align: center;
}


.splash b {
  background: #cdf352;
  color: black;
  padding: 0 4px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button.splash-button {
  cursor: pointer;
  padding: 14px 28px;
  font-family: inherit;
  font-size: 22px;
  display: inline-block;
  border: 2px solid #cdf352;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #cdf352;
  transition: background-color 0.2s linear, color 0.2s linear;
  margin: 0 10px;
}

.button-container button.splash-button:hover {
  background-color: #cdf352;
  color: black;
}
.built-with {
  text-align: center;
}